@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --surface: #fff7f9;
}

.dark{
  --surface: #070b14;
}

.bg-surface{background-color:var(--surface)}

@media (max-width: 640px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}
